<!DOCTYPE html>
<%#include "marketingunit.h" %>
<% tfetch(QVariantMap, marketingunit); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Marketingunit</h1>

<%== formTag(urla("save", marketingunit["muid"]), Tf::Post) %>
  <p>
    <label>MUid<br /><input type="text" name="marketingunit[muid]" value="<%= marketingunit["muid"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>MUvalue<br /><input type="text" name="marketingunit[muvalue]" value="<%= marketingunit["muvalue"] %>" /></label>
  </p>
  <p>
    <label>MUsname<br /><input type="text" name="marketingunit[musname]" value="<%= marketingunit["musname"] %>" /></label>
  </p>
  <p>
    <label>MUname<br /><input type="text" name="marketingunit[muname]" value="<%= marketingunit["muname"] %>" /></label>
  </p>
  <p>
    <label>MUdate<br /><input type="text" name="marketingunit[mudate]" value="<%= marketingunit["mudate"] %>" /></label>
  </p>
  <p>
    <label>ManagerID<br /><input type="text" name="marketingunit[managerID]" value="<%= marketingunit["managerID"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", marketingunit["muid"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
