<!DOCTYPE html>
<%#include "marketingunit.h" %>
<% tfetch(QVariantMap, marketingunit); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Marketingunit</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>MUvalue<br /><input name="marketingunit[muvalue]" value="<%= marketingunit["muvalue"] %>" /></label>
  </p>
  <p>
    <label>MUsname<br /><input name="marketingunit[musname]" value="<%= marketingunit["musname"] %>" /></label>
  </p>
  <p>
    <label>MUname<br /><input name="marketingunit[muname]" value="<%= marketingunit["muname"] %>" /></label>
  </p>
  <p>
    <label>ManagerID<br /><input name="marketingunit[managerID]" value="<%= marketingunit["managerID"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
