<!doctype html>
<%#include "marketingunit.h" %>
 <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/common.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
  
	<style type="text/css">
#customers
          {
          width:510px;
          border-collapse:collapse;
          empty-cells: hide;
          white-space: nowrap;
          }

#customers td, #customers th 
          {
          font-size:0.7em;
          border:1px solid #95B8E7;
          padding:3px 7px 2px 7px;
          }

#customers th 
          {
          font-size:0.7em;
          text-align:center;
          padding-top:5px;
          padding-bottom:4px;
          background-color:#F3F3F3;
          color:black;
          }

#customers tr, #customers td
          {
          color:#000000;
          }
</style>
<script language="javascript">
 var curtab = null;
 var str = null;
 function do_onclick(tab){
   if(curtab != null) curtab.style.backgroundColor = "white"; 
    tab.style.backgroundColor = "#E0E0E0";
    curtab = tab; 
    var tds = curtab.cells;
        str =  tds[0].innerHTML;  
 }
function  xiugai(){
  if(str != null)
    document.getElementById('xiugai').href = "/marketingunit/edit/"+str;

}
</script>
</head>
    <body style="position: relative;left: 30px; top: 20px;">
      <p style="color: red"><%=$ error %></p>
          <table id="customers">
            <tr>
                <th>编号</th>
                <th>估值</th>
                <th>简称</th>
                <th>长名称</th>
                <th>日期</th>
                <th>源单元编号</th>
                <th>目标单元编号</th>
                <th>操作员编号</th>
            </tr>
                <% tfetch(QList<Marketingunit>, marketingunitList); %>
                <% for (const auto &i : marketingunitList) { %>
            <tr onclick="do_onclick(this)">
                <td><%= i.muid() %></td>
                <td><%= i.muvalue() %></td>
                <td><%= i.musname() %></td>
                <td><%= i.muname() %></td>
                <td><%= i.mudate() %></td>
                <td><%= i.srcUnitID() %></td>
                <td><%= i.destUnitID() %></td>
                <td><%= i.operatorID() %></td>
            </tr>
                                                            <% } %>

        </table>	
  <div style="margin-top:4px">
    <ul type="none">
     
           
          
          <% tfetch(int, page); %>
          <% tfetch(int, tpage); %>                 
            <table>
            <tr>
              <td>
                 <li style="float:left;"><a href="/marketingunit/index/" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:60px;height:29px;">刷新</a></li>
              </td>
            <td>
              <%== formTag(urla("searching"), Tf::Post) %>
                  <p>
                    <li style="float:left;margin-left:5px;">
                    <input   class="easyui-searchbox" data-options="prompt:'请输入编号或简称'" type="text" name="search" style="width:120px;height:29px;"/></label>
                    <li style="float:left;margin-left:4px;">
                    <input class="easyui-linkbutton" type="submit" value="查找" style="width:80px;height:32px;" />
                  </p>
                  </form>
            </td>
            <td>
            <%== formTag(urla("index"), Tf::Post) %>
                <input name="page" type="hidden" value="<%= page - 1 %>">
                <input class="easyui-linkbutton" type="submit" value="上一页" style="width:60px;height:32px;" />
              </form>
            </td>
            <td>
             <%== formTag(urla("index"), Tf::Post) %>
                 <input name="page" type="hidden" value="<%= page + 1 %>">
                 <input class="easyui-linkbutton" type="submit" value="下一页" style="width:60px;height:32px;" />
              </form>
            </td>
            <td>
              <%== formTag(urla("index"), Tf::Post) %>
            <input   class="easyui-textbox" data-options="prompt:'页号'" type="text" name="page" style="width:50px;height:29px;"/></label>
            <input class="easyui-linkbutton" type="submit" value="跳转" style="width:50px;height:29px;" />
            </form>
            </td>
            </tr>
            </table>
      </li>
    </ul>
  </div>

      <div style="margin-top:4px" >
         
        
            <a>第<%= page %>页/共<%= tpage %>页</a>
            <% tfetch(QString, warning); %>
            <p><%= warning %></p>
            <a href="" id="xiugai" onclick="xiugai();"/>编辑</a>
      </div>
</body>
</html>

