<!DOCTYPE html>
<%#include "marketingunit.h" %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>交易单元列表</h1>
<p style="color: red"><%=$ error %></p>

<% tfetch(Marketingunit, marketingunit); %>
<%== formTag(urla("searching"), Tf::Post) %>
  <p>
    <label>编号或简称<br /><input type="txet" name="search"/></label>
    <input type="submit" value="查找" />
  </p>
</form>

<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>MUid</th>
    <th>MUvalue</th>
    <th>MUsname</th>
    <th>MUname</th>
    <th>MUdate</th>
    <th>ManagerID</th>
  </tr>
<% tfetch(QList<Marketingunit>, marketingunitList); %>
<% for (const auto &i : marketingunitList) { %>
  <tr>
    <td><%= i.muid() %></td>
    <td><%= i.muvalue() %></td>
    <td><%= i.musname() %></td>
    <td><%= i.muname() %></td>
    <td><%= i.mudate() %></td>
    <td><%= i.managerID() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.muid())) %>
      <%== linkTo("Edit", urla("edit", i.muid())) %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
