<!DOCTYPE html>
<%#include "marketingunit.h" %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>交易单元统计报表</h1>
<p style="color: red"><%=$ error %></p>


<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>目标资产单元</th>
    <th>来源资产单元</th>
    <th>交易单元</th>
    <th>总值</th>
    <th>日期</th>
  </tr>
<% tfetch(QList<Marketingunit>, marketingunitList); %>
<% for (const auto &i : marketingunitList) { %>
  <tr>
    <td><%= i.muname() %></td>
    <td><%= i.musname() %></td>
    <td><%= i.muid() %></td>
    <td><%= i.muvalue() %></td>
    <td><%= i.mudate() %></td>
    <td>
      <%== linkTo("查看详情", urla("showform", i.muid())) %>
    </td>
  </tr>
<% } %>
</table>
<br />
<%== linkTo("刷新", urla("reportform")) %>
</body>
</html>
