<!DOCTYPE html>
<%#include "marketingunit.h" %>
<% tfetch(Marketingunit, marketingunit); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Marketingunit</h1>
<dt>MUid</dt><dd><%= marketingunit.muid() %></dd><br />
<dt>MUvalue</dt><dd><%= marketingunit.muvalue() %></dd><br />
<dt>MUsname</dt><dd><%= marketingunit.musname() %></dd><br />
<dt>MUname</dt><dd><%= marketingunit.muname() %></dd><br />
<dt>MUdate</dt><dd><%= marketingunit.mudate() %></dd><br />
<dt>SrcUnitID</dt><dd><%= marketingunit.srcUnitID() %></dd><br />
<dt>DestUnitID</dt><dd><%= marketingunit.destUnitID() %></dd><br />
<dt>OperatorID</dt><dd><%= marketingunit.operatorID() %></dd><br />

<%== linkTo("Edit", urla("edit", marketingunit.muid())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
