<!DOCTYPE html>
<%#include "marketingunit.h" %>
<% tfetch(Marketingunit, marketingunit); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>查询结果</h1>
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;"> 
<tr>
    <th>交易单元编号</th>
    <th>估值</th>
    <th>简称</th>
    <th>长名称</th>
    <th>日期</th>
    <th>SrcUnitID</th>
    <th>DestUnitID</th>
    <th>OperatorID</th>
  </tr>
<tr>
    <td><%= marketingunit.muid() %></td>
    <td><%= marketingunit.muvalue() %></td>
    <td><%= marketingunit.musname() %></td>
    <td><%= marketingunit.muname() %></td>
    <td><%= marketingunit.mudate() %></td>
    <td><%= marketingunit.srcUnitID() %></td><br />
    <td><%= marketingunit.destUnitID() %></td><br />
    <td><%= marketingunit.operatorID() %></td><br />

 </tr>
</table>
<%== linkTo("修改", urla("edit", marketingunit.muid())) %> |
<%== linkTo("返回", urla("index")) %>

</body>
</html>
