<!DOCTYPE html>
<%#include "cms.h" %>
<% tfetch(QVariantMap, cms); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Cms</h1>

<%== formTag(urla("save", cms["numberID"]), Tf::Post) %>
  <p>
    <label>NumberID<br /><input type="text" name="cms[numberID]" value="<%= cms["numberID"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Name<br /><input type="text" name="cms[name]" value="<%= cms["name"] %>" /></label>
  </p>
  <p>
    <label>Nickname<br /><input type="text" name="cms[nickname]" value="<%= cms["nickname"] %>" /></label>
  </p>
  <p>
    <label>Password<br /><input type="text" name="cms[password]" value="<%= cms["password"] %>" /></label>
  </p>
  <p>
    <label>ID<br /><input type="text" name="cms[id]" value="<%= cms["id"] %>" /></label>
  </p>
  <p>
    <label>Phone<br /><input type="text" name="cms[phone]" value="<%= cms["phone"] %>" /></label>
  </p>
  <p>
    <label>Belong<br /><input type="text" name="cms[belong]" value="<%= cms["belong"] %>" /></label>
  </p>
  <p>
    <label>User Number<br /><input type="text" name="cms[userNumber]" value="<%= cms["userNumber"] %>" /></label>
  </p>
  <p>
    <label>Role<br /><input type="text" name="cms[role]" value="<%= cms["role"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", cms["numberID"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
