<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%#include "cms.h" %>
<%#include "operators.h" %>
<%tfetch(QString,adminID)%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<style>
.maxdiv{
  position: absolute;
  background-color: rgb(227,247,254);
  top: 106px;
  left: 350px;
  width: 460px;
  height: 378px;
  } 
.div1{
  position: absolute;
  top: 0px;
  left: 0px;
  }
.div3{
  position: absolute;
  top: 104px;
  left: 0px;
  width: 460;
  height: 180px;
  border: 1px solid rgb(227,247,254);
  overflow-y: auto;
  }
.div4{
  position: absolute;
  top: 292px;
  left: 80px;
  width: 314px;
  }
.fanhui{
  position: absolute;
  left: 392px;
  top: 329px;
  width: 50px;
  }     
.table1{
  border:1px solid rgb(227,247,254);
  border-collapse:collapse;
  }
.intable1{
  border-collapse:collapse;
  }  
caption{
  height:42px;
  font-family: Tahoma,Verdana,Arial;
  background-color:rgb(227,247,254);
  font-size: 20px;
  text-align:left;
  vertical-align:top;
  }
th{
  font-family:Tahoma,Verdana,Arial;
  border: 1px solid rgb(227,247,254);
  background-color: rgb(227,247,254);
  font-size: 15px;
  font-weight: normal;
  }
.intable1 td{
  font-family:Tahoma,Verdana,Arial;
  font-size: small;
  height:20px;
  vertical-align:bottom;  
  } 
.table2 td{
 background-color: #E0E0E0;
} 
a{
  font-size: 16px;
  color: #0033FF;
  width:70px;
  text-decoration:none;
  }
a:hover{
  text-decoration:none;
}
</style>
<script language="javascript">
 var curtab = null;
 var str = null;
 function do_onclick(tab){
   if(curtab != null) curtab.style.backgroundColor = "rgb(227,247,254)"; 
    tab.style.backgroundColor = "#E0E0E0";
    curtab = tab; 
    var tds = curtab.cells;
        str =  tds[1].innerHTML;  
 }
function  xiugai(){
  if(str != null)
    document.getElementById('xiugai').href = "/Cms/edit/"+str;

}

 function dongjie(){
   if(str != null)
       document.getElementById('dongjie').href = "/Cms/change_status/"+str;
 }

function shanchu(){
  if (str != null){
    if (confirm("确定要删除吗")){
      document.getElementById('shanchu').href = "/Cms/delete_operator/"+str;
   }
  }
}

function tichu(){
  if (str != null) {
      if (confirm("确定要剔除吗")) {
        document.getElementById('tichu').href = "/Cms/remove/"+str;
      }
  }
}
</script>
</head>
<body>
<div class="maxdiv">
<div class="div1">
<table class="table1">
    <caption>
    操作员列表
    </caption>
    <tr>
      <th height="30" colspan="4" align="center" ><%== formTag(urla("search_operator"), Tf::Post) %>
        <label for="search"></label>
        <input name="operators[operatorID]" type="text" id="operators[operatorID]" size="50" />
        <input type="submit" name="button" id="button" value="查询" /></th>
      </form>
      </tr>
    <tr>
      <th width="135" height="30" align="center" >操作员管理人编号</th>
      <th width="115" align="center">操作员编号</th>
      <th width="115" align="center">操作员简称</th>
      <th width="80" align="center">状态</th>
    </tr>
  </table>
  <div class="div3">
  <table class="intable1"> 
<% tfetch(QList<Operators>,operator_list);%>
<% for(const auto &i : operator_list) {%>
    <tr height="30px" onclick="do_onclick(this)">
    <td width="151" align="center" valign="top" ><%= adminID%></td>
    <td width="127" align="left"><%= i.operatorID() %></td>
    <td width="127" align="left"><%= i.operatorNickname()  %></td>
    <td width="55" align="left"><%= i.operatorStatus() %></td>
    </tr> 
<% } %>
  </table>
  </div>
  <div class="div4">
  <table width="304" border="1" cellpadding="3" class="table2">
    <tr>
      <td width="90" align="center"><a href="/Cms/entry">新建</a></td>
      <td width="90" align="center"><a href="" id="xiugai" onclick="xiugai();"/>修改</a></td>
      <td width="90" align="center"><a href="" onclick="www.location.reload()">刷新</a></td>
    </tr>
    <tr>
      <td align="center"><a href="" id="dongjie"  onclick="dongjie();"/>冻结/解冻</a></td>
      <td align="center"><a href="" id="shanchu"  onclick="shanchu();"/>删除</a></td>
      <td align="center"><a href="" id="tichu"    onclick="tichu();"/>剔除</td>
    </tr>
  </table>
  </div>
</div>
</div>
</html>