<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%#include "cms.h" %>
<%#include "operators.h" %>
<%tfetch(QString,adminID)%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<style>
.maxdiv{
  position: absolute;
  background-image:url("/BG/nlistbg.jpg");
  top: 100px;
  left: 250px;
  width: 940px;
  height: 330px;
  } 
.div1{
  position: absolute;
  top: 0px;
  left: 0px;
  }
.div2{
  position: absolute;
  top: 0px;
  left:480px;
  width: 460px;
  } 
.div3{
  position: absolute;
  top: 74px;
  left: 0px;
  width: 460;
  height: 180px;
  border:1px solid #429fff;
  overflow-y:scroll;
  }
.div4{
  position: absolute;
  top: 260px;
  left: 0px;
  }
.div5{
  position: absolute;
  top: 74px;
  left: 0px;
  width: 460;
  height: 180px;
  border:1px solid #429fff;
  overflow-y:scroll;
  }
.div6{
  position: absolute;
  top: 260px;
  left: 0px;
  font-size: 16px;
  }
.fanhui{
  position: absolute;
  left: -38px;
  top: 307px;
  width: 50px;
  }     
.table1{
  border:1px solid #429fff;
  border-collapse:collapse;
  }
.intable1{
  border-collapse:collapse;
  }
.table3{
  border:1px solid #429fff;
  border-collapse:collapse;
  }
.intable3{
  border-collapse:collapse;
  }  
caption{
  height:42px;
  font-family: Tahoma,Verdana,Arial;
  background-color:#66FFFF;
  font-size: 20px;
  text-align:left;
  vertical-align:top;
  }
th{
  font-family:Tahoma,Verdana,Arial;
  border: 1px solid #00FF33;
  background-color: #66FF99;
  font-size: 15px;
  font-weight: normal;
  }
.intable1 td{
  font-family:Tahoma,Verdana,Arial;
  font-size: small;
  height:20px;
  vertical-align:bottom;  
  } 
.intable3 td{
  font-family:Tahoma,Verdana,Arial;
  font-size: small;
  height:20px;
  vertical-align:bottom;  
  } 
a{
  font-size: 16px;
  background-color: #E0E0E0;
  color: #0033FF;
  width:70px;
  }
</style>
<script language="javascript">
 var curtab = null;
 var str = null;
 function do_onclick(tab){
   if(curtab != null) curtab.style.backgroundColor = "white"; 
    tab.style.backgroundColor = "#E0E0E0";
    curtab = tab; 
    var tds = curtab.cells;
        str =  tds[1].innerHTML;  
 }
function  xiugai(){
  if(str != null)
    document.getElementById('xiugai').href = "/Cms/edit/"+str;

}

 function dongjie(){
   if(str != null)
       document.getElementById('dongjie').href = "/Cms/change_status/"+str;
 }

function shanchu(){
  if (str != null){
    if (confirm("确定要删除吗")){
      document.getElementById('shanchu').href = "/Cms/delete_operator/"+str;
   }
  }
}

function tichu(){
  if (str != null) {
      if (confirm("确定要剔除吗")) {
        document.getElementById('tichu').href = "/Cms/remove/"+str;
      }
  }
}
</script>
</head>
<body>
<div class="maxdiv">
<div class="div1">
<table class="table1">
    <caption>
    操作员列表
    </caption>
    <tr>
      <th width="135" height="30" align="center" >操作员管理人编号</th>
      <th width="115" align="center">操作员编号</th>
      <th width="115" align="center">操作员简称</th>
      <th width="80" align="center">状态</th>
    </tr>
  </table>
  <div class="div3">
  <table class="intable1"> 
<% tfetch(QList<Operators>,operator_list);%>
<% for(const auto &i : operator_list) {%>
    <tr height="30px" onclick="do_onclick(this)">
    <td width="151" align="center" valign="top" ><%= adminID%></td>
    <td width="127" align="left"><%= i.operatorID() %></td>
    <td width="127" align="left"><%= i.operatorNickname()  %></td>
    <td width="55" align="left"><%= i.operatorStatus() %></td>
    </tr> 
<% } %>
  </table>
  </div>
  <div class="div4">
  <table class="table2">
    <tr>
      <td><a href="/Cms/entry">新建</a></td>
      <td><a href="" id="xiugai" onclick="xiugai();"/>修改</a></td>
      <td><%== linkTo("刷新",urla("refresh"))%></td>
    </tr>
    <tr>
      <td><a href="" id="dongjie"  onclick="dongjie();"/>冻结/解冻</a></td>
      <td><a href="" id="shanchu"  onclick="shanchu();"/>删除</a></td>
      <td><a href="" id="tichu"    onclick="tichu();"/>剔除</td>
    </tr>
  </table>
  </div>
</div>
<div class="div2">
    <table class="table3">
    <caption>
    操作员权限列表
    </caption>
    <tr>
      <th width="151" height="30" align="center" >资产单元编号</th>
      <th width="309" align="left">交易单元编号</th>
    </tr>
    </table>
  <div class="div5">
    <table class="intable3">
    <tr height="30px">
      <td width="151" align="center" valign="top"><input type="checkbox" name="checkbox" id="checkbox" />101</td>
      <td width="309" align="left">101</td>    
    </tr>
    </table>
    </div>
    <div class="div6">
    <table width="460">
    <tr>
    <td><a href="" id="tijiao" onclick="">提交</a></td>
    <td align="right" font-size="16px" ><input type="radio" name="radio" id="radio1" value="资产单元" />资产单元
        <input type="radio" name="radio" id="radio2" value="交易单元" />交易单元
    </td>
    </tr>
    </table>
  </div>
  <div class="fanhui">
  <a href="/Cms/admin_center/<%=adminID%>">上一页</a>
  </div>
</div>
</div>
</html>
