<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%#include "cms.h" %>
<%#include "assetsunitmanager.h" %>
<%tfetch(QString,adminID)%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<style type="text/css">
#apDiv1 {
  position: absolute;
  width: 605px;
  height: 350px;
  z-index: 1;
  left: 282px;
  top: 100px;
  border: 1px solid #429FFF;
  background-color: #96EDFE;
}
#apDiv2{
  position: absolute;
  top: 3px;
  width: 600px;
  height: 93px;
  left: 2px;
  border: 1px solid #429FFF;
}
input{
  border:none;
  }
#apDiv3 {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 598px;
  height: 194px;
  z-index: 1;
  left: 2px;
  top: 98px;
  border: 1px solid #429FFF;
}
#apDiv4 {
  position: absolute;
  width: 300px;
  height: 35px;
  z-index: 2;
  left: 124px;
  top: 299px;
}
#title{
  height:42px;
  font-family: Tahoma,Verdana,Arial;
  background-color:#66FFFF;
  font-size: 20px;
  text-align:left;
  vertical-align:top;
}
.intable td{
  font-family:Tahoma,Verdana,Arial;
  font-size: small;
  height:20px;
  vertical-align:bottom;  
  } 
#a{
  font-family:Tahoma,Verdana,Arial;
  font-size: small;
  height:20px;
}
.table3 td{
  background-color: #E0E0E0;
}
a{
  color: #0033FF;
  font-size: 15px;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
#apDiv5 {
  position: absolute;
  width: 200px;
  height: 45px;
  z-index: 3;
  left: 3px;
  top: 300px;
}
</style>
<script language="javascript">
 var curtab = null;
 var str = null;
 function do_onclick(tab){
   if(curtab != null) curtab.style.backgroundColor = " #96EDFE"; 
    tab.style.backgroundColor = "#E0E0E0";
    curtab = tab; 
    var tds = curtab.cells;
        str =  tds[0].innerHTML;  
 }
function  xiugai(){
  if(str != null)
    document.getElementById('xiugai').href = "/Cms/changemanager/"+str;

}

 function dongjie(){
   if(str != null)
       document.getElementById('dongjie').href = "/Cms/cgstatus/"+str;
 }
</script>
</head>

<body>
<div id="apDiv1">
<div id="apDiv2">
  <table width="600" height="75" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td height="40" colspan="4" id="title">资产管理人列表</td>
    </tr>
    <tr>
      <td height="25" colspan="4" align="center"><%== formTag(urla("search_manager"), Tf::Post) %>
        <label for="search"></label>
        <input name="assetsunitmanager[managerID]" type="text" id="assetsunitmanager[managerID]" size="70" />
        <input type="submit" name="button" id="button" value="查询" /></td>
      </form>
    </tr>
    <tr>
      <td width="116" id="a">资产管理人编号</td>
      <td width="124" id="a">资产管理人简称</td>
      <td width="175" id="a">资产管理人全称</td>
      <td width="175" height="25" id="a">状态</td>
    </tr>
  </table>
</div>
<div id="apDiv3">
  <table width="596" border="0" cellspacing="0" cellpadding="0" class="intable">
<% tfetch(QList<Assetsunitmanager>,manager_list);%>
<% for(const auto &i : manager_list) {%>
    <tr onclick="do_onclick(this)">
      <td width="118" align="center"><%=i.managerID()%></td>
      <td width="126"><%=i.managerShortname()%></td>
      <td width="177"><%=i.managerName()%></td>
      <td width="175"><%=i.managerState()%></td>
    </tr>
    <% } %>
  </table>
</div>
<div id="apDiv4">
  <table width="300" height="25" border="1" cellpadding="0" cellspacing="0" class="table3">
    <tr>
      <td width="75" align="center"><a href="/Cms/newmanager">新建</a></td>
      <td width="75" align="center"><a href="" id="xiugai" onclick="xiugai();">修改</a></td>
      <td width="75" align="center"><a href="" onclick="www.location.reload()">刷新</a></td>
      <td width="75" align="center"><a href="" id="dongjie" onclick="dongjie();">冻结/解冻</a></td>
    </tr>
  </table>
</div>
</body>
</html>
