<!DOCTYPE html>
<%#include "cms.h" %>
<% tfetch(QVariantMap, cms); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Operator Login</h1>

<%== formTag(urla("operatorlogin"), Tf::Post) %>
  <p>
    <label>NumberID<br /><input name="cms[numberID]" value="<%= cms["numberID"] %>" /></label>
  </p>

  <p>
    <label>Password<br /><input type="password" name="cms[password]" value="<%= cms["password"] %>" /></label>
  </p>
 
  <p>
    <input type="submit" value="Login" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
